@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #337DE2;
  --color-secondary: #77A8EA;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
